 
  .UserDetails {
    margin: 10px auto;
    width: 75%;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    height: 50%;
   }
  
   table {
    margin-top: 10px;
    width:100%;
  }
  table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: burlywood;
  }
  th, td {
    padding: 10px;
    text-align: center;
  }